body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; /* Specify the font weight here */
    color: white;
}

@font-face {
    font-family: 'Montserrat-Bold'; /* a name to be used later */
    src: url("fonts/Montserrat-Bold.ttf"); /* URL to font */
    font-weight: normal; /* specify the font weight, should match the one in font-family */
    font-style: normal; /* specify the font style, e.g., normal or italic */
}

@font-face {
    font-family: 'Montserrat'; /* a name to be used later */
    src: url("fonts/Montserrat-Medium.ttf"); /* URL to font */
    font-weight: normal; /* specify the font weight, should match the one in font-family */
    font-style: normal; /* specify the font style, e.g., normal or italic */
}


.gradient-background {
    height: 100%;
    padding: 25px;
    background: linear-gradient(290deg, #c80000, #d66a00, #d20037, #c67405);
    background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-container {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5%; 
    background-color: #282B30;
}

.title-text {
    font-family: 'Montserrat-Bold';
    font-size: 10vw;
    width: 50vw;
    color: white;
    text-align: left;
    line-height: 1;
    transform: translateX(-6px);
    margin-bottom: 15vh;
    margin-top: 4vh;
}

.proj-title-text {
    font-family: 'Montserrat-Bold';
    font-size: 5vw;
    width: 50vw;
    color: white;
    text-align: left;
    line-height: 1;
    margin-bottom: 10vh;
    margin-top: 4vh;
}

.splash-text {
    width: 50%;
    font-size: calc(1.3rem + .6vw);
    user-select: auto;
    display: inline-block; /* Make it inline-block to be on the same line */
}

.icons {
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: flex-start;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px; /* Adjust the margin between icons if needed */
}

.back-button {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.back-button:hover {
    color: #e0764a;
    transition: 0.2s;
}

.button {
    font-family: 'Montserrat';
    color: #c67405;
    text-decoration: none;
}

.button:hover {
    color: #e0764a;
    transition: 0.2s;
}

.card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 40vw;
    margin-bottom: 5%;
    background-color: #202225;
    border-radius: 10px;
    align-items: center;
    display: inline-block;

}

.card-img-top {
    border-radius: 10px;

}
