.title {
    width: 100%;
    height: 70vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-text {
    font-family: 'Title-Bold';
    color: #fff;
    font-size: 7em;
    text-align: center;
    background: -webkit-linear-gradient(#ff5f6d, #ffc371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .title h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Montserrat-Medium';
    line-height: 1.1;
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons {
    margin-left: 20px;
    height:50px;
    width: 50px;
  }
  .social-icons-linkedin {
    margin-left: 20px;
    height:60px;
    width: 60px;
  }
  
  @media (max-width: 768px) {
    .title h1 {
      font-size: 2em;
      margin-bottom: 2vh;;
    }
  
    .title-text {
      font-size: 4em;
      line-height: 1em;
      margin-bottom: 2vh;
    }
  
  }