@font-face {
  font-family: 'Title-Bold'; 
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf"); 
  font-weight: bold; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium'; 
  src: url("./assets/fonts/Montserrat-Medium.ttf"); 
  font-weight: normal; 
  font-style: normal;
}

:root {
  font-family: 'Montserrat-Medium', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #001220;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #001220;
  color: #ffffff;
}

h1 {
  font-size: 5em;
  font-family: 'Title-Bold';
  color: #ffffff;
}

a {
  text-decoration: inherit;

}

@media (max-width: 768px) {
  h1 {
    margin: 0;
    font-size: 3em;
    line-height: 1.1;
  }
}