.sectionC {
    height: 100vh;
    background: #0F2F45;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionC-body {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
}

.sectionC-body h1 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin: 0;
}